
//Page de connexion
 
.login{
  background-color: #46beb8;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-bottom: 70px;
    height: 400px;
    width: 450px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
  
    button{
        border-radius: 50px;
        margin-top: 0px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 10px 0;
        font-size: 18px;
        font-weight: 600;
        
        cursor: pointer;
    }
  
    button:hover{
      background-color:rgb(203, 233, 223);
    }


  }
  
  
  
    form *{
      //font-family: 'Poppins',sans-serif;
      color: black;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
      
    }
    form h2{
      margin-top: 0;
      font-size: 30px;
      font-weight: 20px;
      line-height: 40px;
      text-align: center;
     
    }
  
  
  
  button{
    margin-top: 0px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input:hover{
    background-color: rgba(255, 254, 254, 0.466);
  }
  
  
  ::placeholder{
    color: #e5e5e5;
  }
  
  //inscription
  .signup{
    margin-top: 150px;
    margin-bottom: 50px;
    height: 800px;
    width: 480px;
    background-color: #46beb8;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;




  }
 

