// @import "./settings";
@import "./components/navigations";
@import "./components/connection";
@import "./page/notfound";
@import "./page/contact";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
  margin: 1em 0;
}

body {
    background: #ccd9da;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.3;
  }


  input{
    margin-top: 5px;
    display: block;
    height: 40px;
    width: 96%;
    background-color: rgba(255, 255, 255, 0.247);
    color: #2C3E50;;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;  
  }

#message{
    height: 70px;
    width: 100%;
    color:#2C3E50;
    background-color: rgba(255, 255, 255, 0.247);
    
}

h2{
    font-weight: 600;
    font-size: xx-large;
    color: #2C3E50
}



.connect-page{
    width: 10%;
  
}

//liste déroulante catégorie
#cat{

  margin-top: 5px;
  display: block;
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 20px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300; 
  color: black;
}

//liste déroulante accès à la ressource
#rsr{
  margin-top: 5px;
  display: block;
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 20px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300; 
  color: black;
}



label{
    color: rgb(250, 250, 250);
}


    
//description       
textarea{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #2C3E50;
    
}
    
textarea::placeholder{
  color: #000;
}
    
textarea:hover{
    background-color: rgba(255, 254, 254, 0.466);
}

//onglet ressources
.ressources{
            margin-top: 60px;
            margin-bottom: 70px;
            height: 540px;
            width: 450px;
            background-color: #46beb8;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
            
          
            button{
                border-radius: 50px;
                margin-top: 0px;
                width: 100%;
                background-color: #ffffff;
                color:#2C3E50;
                padding: 10px 0;
                font-size: 18px;
                font-weight: 600;
                height: 40px;
                cursor: pointer;
            }
          
            button:hover{
              background-color:rgb(247, 247, 247);
            }
        
        }

        h1{
          font-weight: 600;
          font-size:x-large;
          color: #2C3E50
      }

.affichage-ressource{
  border: solid 1px #DBDBDB;

  width: 60%;
  height: 100%;
  margin-top: 10%;
  margin-left: 20%;

  display: block;
 
}



.categorie
{
  font-weight: 700; 
  
}

.créateur{
  font-weight: 700;
  
}

#Global #gauche {
  float:left;
  width:60%;
}
#Global #droite {
  margin-left:60%;   
}


#ress{
  border: 0.5px solid #2C3E50;
  
}

.ress{
  margin-left: 2%;  
  margin-right: 2%;
  margin-bottom: 5%;
}

.date_crea
{
 font-size:large;
}